<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= recipe.name %></title>
</head>
<body>
    <h1>Edit <%= recipe.name %></h1>

    <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= recipe.name %>">


        <label for="name">Instructions:</label>
        <textarea name="instructions" id="instructions" min="0"><%= recipe.instructions %></textarea>


        <button type="submit">Submit</button>

    </form>
</body>
</html>